
.handle_container{
    /* background: red; */
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%;
    pointer-events: none;
    transform: translate3d(0px, 0px, 0px);
  }
  
  .handle_bar_container{
    position: absolute;
      height: 106%;
      transform: translateX(-46%);
      pointer-events: all;
  }
  
  .handle_root{
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    cursor: ew-resize;
    pointer-events: none;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0px;
    left: -16px;
    /* transform: translateX(-42%); */
  }
  
  .handle_line{
    flex-grow: 1;
      height: 100%;
      width: 2px;
      background-color: currentcolor;
      pointer-events: auto;
      box-shadow: rgb(0 0 0 / 35%) 0px 0px 7px;
  }
  
  .handle_button{
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    place-content: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    pointer-events: auto;
    backdrop-filter: none;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 7px;
    /* background: black; */
  }
  
  .handle_arrow_left{
    width: 0px; height: 0px; border-top: 8px solid transparent; border-right: 10px solid; border-bottom: 8px solid transparent;
  }
  
  .handle_arrow_right{
    width: 0px; height: 0px; border-top: 8px solid transparent; border-right: 10px solid; border-bottom: 8px solid transparent; transform: rotate(180deg) ;
  }
  

  